.about-container {
    width: 100%;
    background-color: white;
    padding-top: 20px;
}

.about-box {
    width: 90%;
    margin: 40px auto;
    font-family: lemon-milk;
    border-radius: 0 5px 5px 5px;
}

.about-box h2 {
    border-left: 15px solid #005987;
    text-align: center;
    background-color: #f4d90c;
    color: #005987;
    border-radius: 0 5px 5px 0;
    font-size: 28px;
}

.about-box h3 {
    width: 70%;
    margin: 30px auto;
    padding: 10px 0;
    font-family: 'Barlow', 'san-serif';
    font-style: italic;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    background-color: rgba(244, 217, 12, 0.2);
    color: rgb(31, 31, 31);
    border-radius: 5px;
}

.about-box h4 {
    font-family: 'Barlow', 'san-serif';
    margin: 10px 5px;
    font-weight: 300;
    font-size: 16px;
}

.bom-ul {
    margin: 50px auto;
}

.bom-ul li {
    margin: 30px auto;
}

.dp-ul {
    margin-left: 10px;
}

.dp-ul li {
    margin: 10px auto;
    font-weight: 500;
}

#about-subtext-show {
    /* height: 0; */
    line-height: 0;
    opacity: 0;
    animation: subTextShow 0.2s ease-in-out forwards;
}

@keyframes subTextShow {
    from {
        /* height: 0; */
        line-height: 00;
        opacity: 0;
    }

    to {
        /* height: 100%; */
        line-height: 1.5;
        opacity: 1;
    }
}

#about-subtext-hide {
    /* height: 100%; */
    line-height: 0.3;
    animation: subTextHide 0.2s ease-in-out forwards;
}

@keyframes subTextHide {
    from {
        line-height: 1.5;
        opacity: 1;
        /* height: 100%; */
    }

    to {
        line-height: 00;
        opacity: 0;
        display: none;
    }
}

.about-subsection {
    width: 90%;
    margin: 40px auto;
    font-family: lemon-milk;
    border-radius: 0 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    word-wrap: break-word;
}

.about-subsection div {
    width: 90%;
    height: 100px;
    line-height: 150px;
    background-image: linear-gradient(to top right, #f4d90c, #ffee69);
    color: #005987;
    margin: 20px 0;
    text-align: center;
    box-shadow:
        0 1px 2.2px rgba(0, 0, 0, 0.017),
        0 1px 5.3px rgba(0, 0, 0, 0.02),
        0 1px 10px rgba(0, 0, 0, 0.03),
        0 2px 10px rgba(0, 0, 0, 0.03),
        0 4px 10px rgba(0, 0, 0, 0.03),
        0 10px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-subsection div a {
    text-decoration: none;
    color: inherit;
    align-self: center;
}

.about-subsection div h2 {
    height: 100%;
    font-size: 12px;
    word-wrap: normal;
    line-height: 150px;
}

.team-container {
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-member-container {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 1;
    /* border-bottom: 2px solid #005987; */
}

.team_image_container {
    width: 100%;
    height: 80%;
    padding: 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.team-member-image {
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    border: 2px solid #005a874b;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.team-member-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.team-member-text h2 {
    background-color: #005987;
    color: #f4d90c;
    border-left: 15px solid #f4d90c;
}

.team-member-text h4 {
    font-family: lemon-milk;
    font-weight: 600;
    font-size: 20px;
}

.team-member-text h5 {
    font-family: 'Barlow', 'san-serif';
    font-weight: 400;
    font-size: 16px;
}

.back-to-about {
    width: 90%;
    margin: 10px auto;
}

.back-to-about a button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #f4d90c;
    color: #005987;
}

@media only screen and (min-width: 768px) {
    .about-container {
        width: 100%;
        padding: 20px 0;
        box-sizing: border-box;
    }

    .about-box {
        width: 80%;
        /* margin: 0 auto; */
    }

    .about-box h2 {
        width: 100%;
        margin: 50px auto;
        text-align: left;
        padding-left: 40px;
    }

    .about-box h3 {
        font-size: 28px;
        margin-bottom: 50px;
    }

    .about-box h4 {
        font-size: 18px;
    }

    .about-who-list {
        font-size: 18px;
    }

    .about-who-list ul {
        font-size: 18px;
    }

    .tuesdays,
    .wednesdays,
    .thursdays,
    .fridays,
    .saturdays {
        height: 150px;
        line-height: 150px;
        font-size: 20px;
    }

    
}

@media only screen and (min-width: 1000px) {
    .about-container {
        padding: 20px 0;
    }

    .about-box {
        width: 70%;
    }

    .about-box h3 {
        font-size: 32px;
    }

    .about-box h4 {
        font-size: 22px;
    }

    .bom-ul li {
        font-size: 24px;
        margin-left: 2%;
    }

    .about-who-list {
        font-size: 22px;
    }

    .about-who-list ul {
        font-size: 22px;
    }

    .about-who-list ul li {
        font-size: 22px;
    }

    .days-container {
        width: 800px;
        margin: 20px auto;
    }

    .tuesdays,
    .wednesdays,
    .thursdays,
    .fridays,
    .saturdays {
        height: 200px;
        line-height: 200px;
        font-size: 20px;
    }

    .day-text h4 {
        font-size: 28px;
    }

    .day-text h5 {
        font-size: 22px;
    }

    .what-next-list li {
        font-size: 22px;
    }

    .team-member-container {
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
    }

    .team_image_container {
        height: 100%;
    }

    .team-member-image {
        width: 300px;
        height: 300px;
    }

    .referral-button {
        margin: 60px auto;
        font-size: 22px;
    }

    .about-subsection {
        width: 700px;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .about-subsection div {
        width: 340px;
    }
}

@media only screen and (min-width: 1200px) {

    .about-box {
        width: 60%;
    }
}

@media only screen and (min-width: 1600px) {

    .days-container {
        width: 1000px;
    }

}