.contact-container {
  width: 100%;
  background-color: white;
  padding-top: 20px;
}

.contact-box {
  width: 90%;
  margin: 40px auto;
  font-family: lemon-milk;
  border-radius: 0 5px 5px 5px;
}

.contact-box h2 {
  border-left: 15px solid #005987;
  text-align: center;
  background-color: #f4d90c;
  color: #005987;
  border-radius: 0 5px 5px 0;
  font-size: 28px;
}

.contact-box h3 {
  width: 70%;
  margin: 30px auto;
  padding: 10px 0;
  font-family: 'Barlow', 'san-serif';
  font-style: italic;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  background-color: rgba(244, 217, 12, 0.2);
  color: rgb(31, 31, 31);
  border-radius: 5px;
}

.contact-box h4 {
  font-family: 'Barlow', 'san-serif';
  margin: 10px 5px;
  font-weight: 300;
  font-size: 16px;
}

.donation-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.popup {
  position: absolute;
  width: 84%;
  height: 40vh;
  top: 30vh;
  left: 8%;
  background-color: #005987;
  border-radius: 40px;
  color: #f1d500;
  box-shadow: 15px 15px 15px #44444499;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.popup > button {
  background-color: #f1d500;
  color: #005987;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  transition: transform 100ms ease-in-out;
}

.popup > button:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 500px) {
  .contact-form-details-name {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .contact-box {
    width: 80%;
  }

  .contact-box h2 {
    width: 100%;
    margin: 50px auto;
    text-align: left;
    padding-left: 40px;
  }

  .contact-box h3 {
    font-size: 28px;
    margin-bottom: 50px;
  }

  .contact-box h4 {
    font-size: 18px;
  }

  .popup {
    width: 68%;
    left: 16%;
  }
}

@media only screen and (min-width: 1000px) {
  .contact-box {
    width: 70%;
  }

  .contact-box h3 {
    font-size: 32px;
  }

  .contact-box h4 {
    font-size: 22px;
  }

  .popup {
    width: 50%;
    left: 25%;
  }
}

@media only screen and (min-width: 1200px) {
  .contact-box {
    width: 60%;
  }
}
